<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <title>JSF Authors and books</title>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #ccc;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #fff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #f0f0f0;
        }

        .tg .tg-4eph {
            background-color: #f9f9f9
        }
    </style>
</h:head>

<h:body>
    <h1>Author and Books</h1>
    <h:form>
        <table>
            <tr>
                <td><label>Author</label></td>
                <td><h:inputText id="author" value="#{author.name}"/>
                </td>
            </tr>
            <tr>
                <td><label>Book</label></td>
                <td><h:inputText id="book" value="#{book.name}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><h:commandButton
                        action="#{authorService.saveOrUpdate(author, book)}" value="save"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><h:commandButton
                        action="#{authorService.delete(author)}" value="delete"/>
                </td>
            </tr>
        </table>
    </h:form>

    <br/>
    <h3>AuthorList List</h3>

    <c:if test="${!empty authorService.all}">
        <table class="tg">
            <tr>
                <th width="80">ID</th>
                <th width="120">Name</th>
                <th width="120">Books</th>
            </tr>
            <ui:repeat value="${authorService.all}" var="author">
                <tr>
                    <td>${author.id}</td>
                    <td>${author.name}</td>
                    <td>${author.books}</td>
                </tr>
            </ui:repeat>
        </table>
    </c:if>

</h:body>
</html>